{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-missing-end-of-source-newline": null,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "mixin",
        "function",
        "return",
        "if",
        "warn",
        "error",
        "else",
        "for",
        "each",
        "debug"
      ]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}