// ========================================================================
// JS/COMPONENTS/PARTIALS/HEADER
// ========================================================================

@import '~sassHelpers';

.header {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, $col-a, $col-b);
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

.logo {
  font-size: font-size(l);
  color: lighten($col-b, 35);
  text-shadow: 1px 1px 1px #000;

  @include bp(10) {
    font-size: font-size(xl);
  }
}