// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg             : #fff;
$col-text           : #5f5f5f;

$col-a              : #25adc4;
$col-b              : #6576d0;

// LINKS
$col-links          : #36b8d8;
$col-links-hover    : #2888a0;

// MISC
$col-borders        : #ccc;
