// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg             : #fff;
$col-text           : rgb(68, 68, 68);

// LINKS
$col-links          : rgb(5, 94, 219);
$col-links-hover    : rgb(5, 42, 161);
$col-links-active   : rgb(166, 11, 255);
$col-links-visited  : rgb(240, 59, 59);

// MISC
$col-borders        : #ccc;
