// ========================================================================
// JS/COMPONENTS/PARTIALS/HEADER
// ========================================================================

@import '~sassHelpers';

.header {
  display: flex;
  padding-left: spacer(2);
  padding-right: spacer(2);
  border-bottom: 1px solid lightgray;
}

.header nav {
  margin-left: auto;
}

.logo {
  @include vr(20px, 2, 0);
}